* {
    box-sizing: border-box;
  }

  :root {
    --background-blur: blur(16px);
    --light-blue: #30b3ff;
    --dark-grey: #111111;
    --transparent-white: rgba(255,255,255,0.8);
  }

  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: white;
  }

  #about-me {
    padding: 150px 300px;
  }

  #about-me h2 {
    justify-content: flex-start;
    padding-right: 10px;
  }

  .white-border {
    border-right: 2px solid white;
    justify-content: flex-start;
  }

  #about-me div {
    width: 50%;
    align-items: flex-start;
  }

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

  
  /* Grid CSS */
  #about-grid {
    margin: 0px 6%;
    display: grid;
    width: 25%;
    min-height: 300px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 10px;
  }
  
  /* p {
    margin-bottom: 10px;
  } */

  /* Navigation CSS */
  header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
  }

  #nav-bar {
    display: flex;
    flex-direction: row;
    height: 60px;
    margin: 12px auto;
    backdrop-filter: var(--background-blur);
    padding-left: 20px;
    padding-right: 60px;
    align-items: center;
  }

  #nav-bar h1 {
    font-size: 22px;
  }

  #navigation {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  #navigation a {
    text-decoration: none;
    padding: 40px;
    color: white;
    font-size: 15px;
  }

  #navigation a:hover {
    color: var(--light-blue);
  }

  .page-wrapper {
    background: url("../images/IMG_5845.jpeg");
    margin: 0 auto;
    height: 100vh;
  }

  .background {
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
  }

  #sub-heading {
    background-color: var(--transparent-white);
    position: absolute;
    right: 100px;
    top: 210px;
    padding: 5px 15px;
    max-width: 550px;
    z-index: 100;
  }

  /* Typography CSS */
  .lawton {
    font-weight: lighter;
  }
