* {
    box-sizing: border-box;
  }

  :root {
    --background-blur: blur(16px);
    --light-grey: #b5b5b5;
    --dark-grey: #111111;
    --transparent-white: rgba(255,255,255,0.05);
    --transparent-black: rgba(0,0,0,0.2);
  }

  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: white;
  }

  figure {
    margin: 0;
    padding-bottom: 10px;
  }

  /* #about-me-column {
    width: 100%;
  } */

#about-me .side-accent {
  margin-bottom: 17px;
  margin-right: 20px;
}

  .side-accent {
    width: 2px;
    background-color: white;
    margin-left: 10px;
  }

  #profile-img {
    width: 6.5rem;
    clip-path: circle(70px at center);
  }

  
  /* Grid CSS */
  #work {
    display: grid;
    margin-right: 55px;
    grid-template-rows: 150px 150px 150px 150px;
    grid-template-columns: 18% 41% 41%;
    grid-template-areas: 
    "work project1 project1"
    "work project1 project1"
    "work project2 project3"
    "work project4 project5"
    ;
  }

  #work-heading {
    grid-area: work;
  }

  #work-heading h2 {
    width: 84.81px
  }

  #project1 {
    grid-area: project1;
    background-image: url("../images/code-refactor.jpg");
  }

  #project2 {
    grid-area: project2;
  }

  #project3 {
    grid-area: project3;
  }

  #project4 {
    grid-area: project4;
  }

  #project5 {
    grid-area: project5;
  }

  .workGridArea {
    margin: 0px 5px 5px 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
    background-position: top;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  p {
    margin-top: 0;
  }

  /* Navigation CSS */
  header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
  }

  #nav-bar {
    height: 60px;
    margin: 20px 0px 0px 0px;
    backdrop-filter: var(--background-blur);
    /* background: var(--transparent-white); */
    padding: 0px 40px 0px 30px;
    align-items: center;
  }

  #nav-bar h1 {
    font-size: 22px;
  }

  #nav-bar a {
    text-decoration: none;
    padding-right: 70px;
    color: white;
    font-size: 15px;
  }


  #nav-bar li {
    list-style-type: none;
  }

  #nav-bar a:hover {
    color: var(--light-grey);
  }

  .page-wrapper {
    background: url("../images/IMG_5845\ \(1\).jpeg")rgb(222 172 139 / 80%);
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: multiply;
    padding-top: 76px;
  }

  .background {
    background-repeat: no-repeat;
    background-size:cover;
  }

  .main-wrapper {
    padding: 0px 25px 0px 25px;
  }

  .content-wrapper {
    background: var(--transparent-white);
    /* backdrop-filter: var(--background-blur); */
    padding: 60px 0px 40px 0px;
    margin: 25px auto;
    max-width: 900px;
  }

  #sub-heading {
    margin-right: 70px;
    margin-top: 10px;
}

  #sub-heading h2 {
    padding: 0px 10px 0px 0px;
    border-right: solid white 4px;
    /* font-weight: bold; */
    font-size: 25px;
  
  }

  .section-margin {
    margin-left: 40px;
    }

  .justify-start {
    align-items: flex-start;
}

  .justify-end {
    justify-content: flex-end;
  }

  .align-center {
    align-items: center;
  }

  .align-end {
    align-items: flex-end;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .width-100 {
    width: 100%;
  }

  /* Typography CSS */
  .light {
    font-weight: lighter;
  }

  .heavy {
    font-weight: bold;
  }

  h2 {
    font-size: 20px;
    margin-top: -4px;
    line-height: 1.2;
    font-weight: bold;
    text-align: right;
  }

  p {
    font-size: 15px;
    font-weight: lighter;
  }
